name: Build & Package GRUB2 ESP for aarch64

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  build-aarch64-esp:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            bison flex automake autoconf libtool pkg-config gettext \
            gcc-aarch64-linux-gnu g++-aarch64-linux-gnu m4 \
            texinfo help2man xz-utils gzip lzop gawk parted recode tar util-linux \
            binutils-doc gcc-13-locales cpp-13-doc cpp-doc gcc-13-doc manpages-dev \
            gcc-doc autopoint gettext-doc libasprintf-dev libgettextpo-dev

      - name: Bootstrap (pull in gnulib etc.)
        run: ./bootstrap

      - name: Configure for native build
        run: ./configure --with-platform=efi --target=aarch64 --disable-werror

      - name: Build GRUB2
        run: make -j$(nproc)

      - name: Install to staging
        run: |
          rm -rf dist
          make DESTDIR=$PWD/dist install

      - name: Create ESP-like directory and bootaa64.efi
        run: |
          mkdir -p esp/EFI/BOOT esp/boot/grub/arm64-efi
          export MODDIR="$PWD/dist/usr/local/lib/grub/arm64-efi"
          # generate bootaa64.efi
          ./grub-mkimage  --directory="$MODDIR" -O arm64-efi -o esp/EFI/BOOT/BOOTAA64.EFI \
            -p "/boot/grub/" \
            part_gpt part_msdos fat ext2 normal chain linux configfile efi_gop boot echo search search_label search_fs_uuid search_fs_file test all_video
          # copy mods
          cp -r dist/usr/local/lib/grub/arm64-efi/ esp/boot/grub/
          # grub.cfg
          echo -e 'search --file --set=root /.disk/info \nset prefix=($root)/boot/grub \ninsmod part_gpt \ninsmod part_msdos \ninsmod ext2 \nconfigfile /boot/grub/grub.cfg' > esp/boot/grub/arm64-efi/grub.cfg
          echo -e 'search.fs_uuid 72BC016E-4127-21F1-4961-1DD827D7D325 root \nset prefix=($root)'/boot/grub'\nconfigfile $prefix/grub.cfg' > esp/boot/grub/grub.cfg

      - name: Archive ESP package
        run: |
          tar czf grub2-esp-aarch64.tar.gz -C esp .

      - name: Upload ESP archive
        uses: actions/upload-artifact@v4
        with:
          name: grub2-esp-aarch64
          path: grub2-esp-aarch64.tar.gz
